<form method="post" action="/new" name="new">
    <div class="mb-3">
      <label for="validationTextarea">メモ内容</label>
      <textarea class="form-control" name="memo" placeholder="明日の買い物&#13;&#10;野菜と果物を買いに行く。" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> 保存</button>
    <a class="btn btn-warning" href="/"><i class="fas fa-times"></i> キャンセル</a>
</form>
